.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #184061;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #F7F6F2;
}

.App-main {
  background-color: #4B6587;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #C8C6C6;
}

.App-main__section-table {
  background-color: #184061;
  margin: 15px;
}

input {
  width: 150px;
  margin: 5px;
}

label {
  font-size: 15px;
  width: 150px;
  margin: 5px;
}
.App-header__Logo {
  width: 50px;
  margin: 20px;
  padding: 5px;

}

.App-link {
  color: #00af09;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
